* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #474e5d;
}

header {
  width: 100%;
  height: 5rem;
  padding: 0;
  background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

header ul {
  display: flex;
  align-items: center;
}

header li {
  display: inline-block;
  margin-right: 2rem;
}

.logo {
  text-indent: 0;
  height: 5rem;
  width: 5rem;
  margin-left: 3rem;
}

a {
  text-decoration: none;
  font-size: xx-large;
}

.Wrapper {
  height: 100%;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
}

main {
  margin: 4rem 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
}

.card {
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0.3rem solid black;
  background-color: aquamarine;
  text-align: center;
}

.card img {
  display: block;
  cursor: pointer;
}

i {
  cursor: pointer;
}

img {
  height: 90%;
  width: 100%;
}
/* span {
    display: none;
} */

/* .liked {
    color:red;
    background-color: red;
} */

.center {
  margin-top: 1rem;

  display: flex;
  justify-content: center;
}

.btnShowMore {
  background-color: aquamarine;
  padding: 1rem;

  border: 0;
  border-radius: 1rem;
}

.mainInfo {
  margin: 0;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mainInfo img {
  height: 87vh;
}

.info h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.infoData {
  padding: 1rem;

  color: wheat;
}

.aboutUsMain {
  padding: 50px;
  width: 100%;

  text-align: center;
  background-color: #474e5d;
  color: white;
}

footer {
  width: 100%;
  /* height: 5rem; */

  margin: 0;
  padding: 0.5rem;
  background-color: aquamarine;

  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
}
